<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244143438224-4hfp5q3f2nt9sr7cqkq2psa5hvff9tfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244143438224-4hfp5q3f2nt9sr7cqkq2psa5hvff9tfu</string>
	<key>API_KEY</key>
	<string>AIzaSyBu_yd9v8gbxNXGvH0uwMk2VcjpkMOgpFI</string>
	<key>GCM_SENDER_ID</key>
	<string>244143438224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsForTonight</string>
	<key>PROJECT_ID</key>
	<string>movies-db-7d7b2</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-db-7d7b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244143438224:ios:d87a32ed1f6f48462d5b15</string>
</dict>
</plist>